Welcome to EX294 Training.
your server name is {{ ansible_fqdn }}.
Ansible is an configuration tool.
your os family is {{ ansible_distribution }}.
and ip address is {{ ansible_default_ipv4.address }}.
Your document root is {{ deploy_path }}.
